.card-color-1 {
    background-color: #FFDDC1; /* Light Peach */
  }
  
  .card-color-2 {
    background-color: #acc7e0; /* Light Blue */
  }
  
  .card-color-3 {
    background-color: #C1FFD7; /* Light Green */
  }
  
  .card-color-4 {
    background-color: #F0C1FF; /* Light Purple */
  }
  
  .card-color-5 {
    background-color: #FFFAC1; /* Light Yellow */
  }
  